@import '~antd/dist/antd.css';

.react-resizable {
    position: relative;
    background-clip: padding-box;
}


.ant-table-content {
    background-color: white;
    color: rgb(127, 127, 127);
    height: auto;
}

.ant-table-content-budget {
    background-color: white;
    color: rgb(127, 127, 127);
    height: auto;
    width:780px;
}

.ant-table-content-tracker {
    background-color: white;
    color: rgb(127, 127, 127);
    height: auto;
    width:800px;
}

.ant-income-table-content {
    background-color: white;
    color: rgb(127, 127, 127);
    height: 370px;
    width: 300px;
}

.react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 80%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;
}

.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
    height: auto;
}

.gutter-example .ant-row > div {
    background: transparent;
    border: 0;
}
.gutter-box {
    background: #00a0e9;
    padding: 5px 0;
}

.incomeFont{
    font-weight: bold;
    color: #00a0e9;
}
.flex-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    margin: 1px;
    padding: 10px;
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    flex:16;
    flex-direction: column;
    color: #00a0e9;
    box-sizing:border-box;
    width: 100px;
}

@media (max-width:767px) {
    .flex-col {
        flex-basis: 100%;
    }
}

@media (max-width:360px) {
    .flex-col {
        flex-basis: 100%;
    }
}